@font-face {
  font-family: arcade;
  src: url(Arcade.ttf);
}
body {
  background-color: black;
  color: white;
  margin: 20%;
  font-family: arcade;
  font-weight: 200;
}

.test {
  font-family: arcade;
  font: 100;
}
.container {
  text-align: center;
}

.toggle-content {
  display: none;
}

.toggle-content.isVisible {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#btnContainer img {
  width: 25%;
  height: 25%;
  padding-bottom: 20px;
}

#btnContainer img:hover {
  -webkit-filter: drop-shadow(5px 5px 20px darkred)
    drop-shadow(-5px -5px 20px darkred);
  filter: drop-shadow(5px 5px 20px darkred) drop-shadow(-5px -5px 20px darkred);
  width: 25.5%;
  height: 25.5%;
  padding-bottom: 0px;
}

.option {
  width: 100px;
  height: 100px;

  position: relative;
  left: -200%;
  opacity: 0.5;
  transform: translateX(0px);
  transition: transform 1000ms, opacity 1000ms;
}

.option.move {
  transform: translateX(800%);
  opacity: 1;
}

.delay-1 {
  transition-delay: 0.5s;
}

.delay-2 {
  transition-delay: 2s;
}

.delay-3 {
  transition-delay: 4s;
}

#gameOver {
  font-family: arcade;
  font-size: 10em;
}

#restartBtn {
  width: 20%;
  height: 40px; 
  margin: 0% auto;
  padding: 10px 0px;

  color: white;
  background: linear-gradient(darkred, black);
  text-shadow: 1px 1px 1px darkred, 2px 2px 1px darkred;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 1em;
  font-family: arcade;
  font-size: x-large;
}
#restartBtn:hover {
  -webkit-filter: drop-shadow(0px 0px 5px darkred);
  background: linear-gradient(black, darkred);
}
